
body{

    color:green;
    background-image: linear-gradient( coral,coral);
    align-items: center;
    font: normal 18px/1.5;
    font-weight: 90;
    padding: 50px 0;

}


/* The title of the page */
.header{
    
    height: 960px;
    text-align: center;
    font-weight: 900; 
    padding: 30px;
    text-decoration: underline;

}
/*form container dimensions*/
.form-container{
    box-sizing: content-box;
    margin: -10 50 10 40;
    margin-left: -10px;
}


/* The entire form (input/results) */
.header .form-container .search-form{
    
    padding: 3;
    height: none;
    margin-left: initial;
  
}

  

/* The input box for the form */
.search input{
    background-color:azure;
    margin-left: -400;
    margin-right: 0;
    margin-top: 40;
    padding: 5;
    border-width: 10px;
    
}

/* To style our header's topic*/
.flex-outer{
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
  }

/* Each individual result container */
.suggestions li{
    margin-bottom: 15px;
    background-image: linear-gradient( red, yellow);
    
    list-style-type: none;
    padding: 4;
}
.suggestions li span.name {
    font-weight: 1000;
    font-size: 30;
  }

.suggestions li span.category{
    text-decoration: none;

}

.suggestions li span.address{
    text-decoration: none;

}
/* The text inside each result item */
span{
    display: block;
    background-color: yellow;
    
}
